@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.app {
    display: flex;
    justify-content: center;
    align-items: center;
  
}

.instructions-modal {
    position: absolute;
    bottom: 5%;
    left: 2%;
}

.intructions-button {
    background-color: rgb(166, 198, 233);
    border-style: none;
    border-radius: 60px;
    padding: 10px 50px;
    font-size: 35px;
    color: white;
    cursor: pointer;
    font-family: 'Bebas Neue', cursive;
    transition: 0.3s;
}


.intructions-button:hover {
    background-color: rgba(166, 198, 233, 0.482);
}

.intructions-button:active {
    padding: 20px 70px;
}