@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


.error {
    display: flex;
    width: 200px;
    background-color: red;
}

.board {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-right: -100px;
}

.letter {
    display: inline-block;
    width: 75px;
    height: 75px;
    background-color: #a1a1a14c;
    border-radius: 10px;
    text-align: center;
    vertical-align: middle;
    line-height: 75px;
    margin: 10px;
    font-size: 50px;
    color: rgb(50, 50, 50);
    font-family: 'Bebas Neue', cursive;

    box-shadow: -1px 4px 83px -18px rgba(0,0,0,0.55);
    -webkit-box-shadow: -1px 4px 83px -18px rgba(0,0,0,0.55);
    -moz-box-shadow: -1px 4px 83px -18px rgba(0,0,0,0.55);

    transition: 5s;
}

.check-container {
    display: inline-block;
    width: 75px;
    height: 75px;
    border-radius: 10px;
    text-align: center;
    vertical-align: middle;
    line-height: 75px;
    margin: 10px;
}

.check-button {
    width: 75px;
    height: 75px;
    border-radius: 30px;
    background-color: #72c577f5;
    border-style: none;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.check-button:hover {
    background-color: #62b168f5;
}

.refresh-img {
    width: 50px;
    height: 50px;
}

