@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,700;0,800;1,600;1,700;1,800&display=swap');

.score {
    position: absolute;
    right: 5%;
    top: 5%;
    font-size: 25px;
    font-family: 'Merriweather Sans', sans-serif;
    color: rgb(149, 149, 149);
}